.main-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  display: flex;
  background-color: lightgray;
  padding: 10px;
}

.toolbar button,
.toolbar input {
  margin-right: 10px;
}

.separator {
  width: 1px;
  background-color: black;
  height: 24px;
}

.web-view {
  flex-grow: 1;
}
