<div class="suggestion-view">
  <div class="content">
      <div class="text-box" [innerHTML]="selectedTextHtml"></div>
      <div class="text-box" [innerHTML]="suggestionHtml"></div>
  </div>
  <div class="actions">
      <button (click)="cancel()" style="background-color: orange; width: 120px; height: 40px;">Cancel</button>
      <button (click)="settings()" style="background-color: lightgray; width: 50px; height: 40px;">Settings</button>
      <button (click)="copy()" style="background-color: lightblue; width: 200px; height: 40px;">Copy</button>
      <div class="personality-buttons">
          <!-- Generate buttons dynamically if there are many, else hard code as shown -->
          <button *ngFor="let button of buttons"
                  (click)="changePersonality(button.commandParameter)"
                  [style.backgroundColor]="button.color"
                  [style.width.px]="120"
                  [style.height.px]="40">
              {{ button.label }}
          </button>
      </div>
  </div>
</div>
